/**
* CoreDialog
*/
.CoreDialog {
    position: fixed;
    display: none;
    z-index: 99999;
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

    /**
    * Link Button
    */
    .CoreDialog a.button {
        color: #333;
    	padding: 7px 14px;
    	display: inline-block;
    	font-size: 13px;
    	vertical-align: middle;
    	line-height: 17px;
    	font-weight: bold;
    }
        .CoreDialog a.button:hover {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff;
        	        box-shadow: inset 0px 1px 0px 0px #fff;
        	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
        	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
        	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        	text-shadow: 1px 1px 0px #ffffff;
        	background-color: #ededed;
        	-webkit-border-radius: 4px;
        	   -moz-border-radius: 4px;
        	        border-radius: 4px;
        	border: 1px solid #c9c9c9;
        	color: #000;
        	padding: 6px 13px;
        	text-decoration: none;
        }

        .CoreDialog a.button:active {
            position: relative;
            top: 1px;
        }

    /**
    * Button
    */
    .CoreDialog form input[type="submit"],
    .CoreDialog form input[type="button"],
    .CoreDialog form button {
    	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    	   -moz-box-shadow: inset 0px 1px 0px 0px #fff;
    	        box-shadow: inset 0px 1px 0px 0px #fff;
    	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    	background-color:#ededed;
    	-moz-border-radius:4px;
    	-webkit-border-radius:4px;
    	border-radius:4px;
    	border:1px solid #aaa;
    	display:inline-block;
    	color:#333;
    	font-size:13px;
    	font-weight:bold;
    	padding: 5px 20px;
    	text-decoration:none;
    	text-shadow:1px 1px 0px #ffffff;
    }
        /**
        * Hover
        */
        .CoreDialog form input[type="submit"]:hover,
        .CoreDialog form input[type="button"]:hover,
        .CoreDialog form button:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
        	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        	background-color:#ededed;
        	-webkit-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
	        border: 1px solid #999;
            cursor: pointer;
            color: #333;
        }

        /**
        * Active
        */
        .CoreDialog input[type="submit"]:active, .CoreDialog input[type="button"]:active, .CoreDialog button:active {
            position: relative;
        	top: 1px;
        }

        /**
        * Focus
        */
        .CoreDialog form input[type="submit"]:focus,
        .CoreDialog form input[type="button"]:focus,
        .CoreDialog form button:focus {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65);
            outline: 0;
        }

        /**
        * Focus Hover
        */
        .CoreDialog form input[type="submit"]:hover:focus,
        .CoreDialog form input[type="button"]:hover:focus,
        .CoreDialog form button:hover:focus {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(0, 0, 0, .1);
        }

        /**
        * Good
        */
        .CoreDialog form input[type="submit"].good,
        .CoreDialog form input[type="button"].good,
        .CoreDialog form button.good {
            color: green;
        }

        /**
        * Special
        */
        .CoreDialog form input[type="submit"].special,
        .CoreDialog form input[type="button"].special,
        .CoreDialog form button.special {
            color: #864c00;
        }

        /**
        * Info
        */
        .CoreDialog form input[type="submit"].info,
        .CoreDialog form input[type="button"].info,
        .CoreDialog form button.info {
            color: #005486;
        }

        /**
        * Error
        */
        .CoreDialog form input[type="submit"].error,
        .CoreDialog form input[type="button"].error,
        .CoreDialog form button.error {
            color: #ba1717;
        }

        .CoreDialog form input[type="submit"].error.strong,
        .CoreDialog form input[type="button"].error.strong,
        .CoreDialog form button.error.strong {
            -webkit-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .3);
               -moz-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .3);
                    box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .3);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
            background-color: #da4f49;
            background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
            background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
            background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
            background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
            background-repeat: repeat-x;
            border-color: #bd362f #bd362f #802420;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        /**
        * Good Hover
        */
        .CoreDialog form input[type="submit"].good:hover,
        .CoreDialog form input[type="button"].good:hover,
        .CoreDialog form button.good:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
            border:1px solid #7e9f82;
        }

        /**
        * Good Focus Hover
        */
        .CoreDialog form input[type="submit"].good:focus:hover,
        .CoreDialog form input[type="button"].good:focus:hover,
        .CoreDialog form button.good:focus:hover {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 171, 22, .1);
        }

        /**
        * Special Hover
        */
        .CoreDialog form input[type="submit"].special:hover,
        .CoreDialog form input[type="button"].special:hover,
        .CoreDialog form button.special:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
            border:1px solid #be9f7b;
        }

        /**
        * Special Focus Hover
        */
        .CoreDialog form input[type="submit"].special:focus:hover,
        .CoreDialog form input[type="button"].special:focus:hover,
        .CoreDialog form button.special:focus:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 106, 22, .1);
            border:1px solid #be9f7b;
        }

        /**
        * Info Hover
        */
        .CoreDialog form input[type="submit"].info:hover,
        .CoreDialog form input[type="button"].info:hover,
        .CoreDialog form button.info:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
            border:1px solid #8795c0;
        }

        /**
        * Info Focus Hover
        */
        .CoreDialog form input[type="submit"].info:focus:hover,
        .CoreDialog form input[type="button"].info:focus:hover,
        .CoreDialog form button.info:focus:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(0, 0, 0, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(22, 61, 171, .1);
            border:1px solid #8795c0;
        }

        /**
        * Error Hover
        */
        .CoreDialog form input[type="submit"].error:hover,
        .CoreDialog form input[type="button"].error:hover,
        .CoreDialog form button.error:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
            border:1px solid #bc8484;
        }

        .CoreDialog form input[type="submit"].error.strong:hover,
        .CoreDialog form input[type="button"].error.strong:hover,
        .CoreDialog form button.error.strong:hover  {
            -webkit-box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
               -moz-box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
                    box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
            border: 1px solid rgba(108, 12, 12, .3);
        }

        /**
        * Error Focus Hover
        */
        .CoreDialog form input[type="submit"].error:focus:hover,
        .CoreDialog form input[type="button"].error:focus:hover,
        .CoreDialog form button.error:focus:hover  {
            -webkit-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(108, 12, 12, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
        	   -moz-box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(108, 12, 12, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
        	        box-shadow: inset 0px 1px 0px 0px #fff, 0 0 1px 1px rgba(108, 12, 12, .65), inset 0px 1px 0px 0px #fff, inset 0 0 5px 3px rgba(171, 22, 22, .1);
            border:1px solid #bc8484;
        }

        .CoreDialog form input[type="submit"].error.strong:focus:hover,
        .CoreDialog form input[type="button"].error.strong:focus:hover,
        .CoreDialog form button.error.strong:focus:hover  {
            -webkit-box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
               -moz-box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
                    box-shadow: 0 0 0 0 #fff, inset 0 0 1px 1px rgba(108, 12, 12, .3);
            border: 1px solid rgba(61, 7, 7, .3);
        }


    /**
    * Inner
    */
    .CoreDialog .inner {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border: 1px solid #444;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 15px 2px rgba(0, 0, 0, .3);
           -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 15px 2px rgba(0, 0, 0, .3);
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15), 0 0 15px 2px rgba(0, 0, 0, .3);
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
        background: #eaeaea;
    }

        /**
        * Loading
        */
        .CoreDialog .inner .loading {
            top: 0;
            left: 0;
            position: absolute;
            z-index: 9999990;
            display: none;
            background-color: rgba(0, 0, 0, .3);
            -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
                    border-radius: 4px;
        }
        .CoreDialog .inner .loading .loading-outer {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .CoreDialog .inner .loading .loading-inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 45%;
            height: 30%;
            margin: auto;

            background-color: rgba(0, 0, 0, .2);
            text-align: center;
            -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
                    border-radius: 4px;
            padding: 7px 0;
            z-index: 9999992;
        }

        .CoreDialog .inner .loading .loading-message {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 0 5px #000;
        }
        .CoreDialog .inner .loading .spinner {
            height: 60px;
            width: 60px;
            display: block;
            z-index: 9999991;
            margin: 20px auto 0 auto;
        }

        /**
        * Head
        */
        .CoreDialog .inner .head {
            position: relative;
            padding: 14px 0;
            height: 16px;
            overflow: hidden;
            border: 0;
            border-bottom: 1px solid #ccc;
            border-radius: 4px 4px 0 0;
            background: -moz-linear-gradient(top,  #fff 0%, #f2f2f2 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
            background: -webkit-linear-gradient(top,  #fff 0%,#f2f2f2 100%);
            background: -o-linear-gradient(top,  #fff 0%,#f2f2f2 100%);
            background: -ms-linear-gradient(top,  #fff 0%,#f2f2f2 100%);
            background: linear-gradient(to bottom,  #fff 0%,#f2f2f2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f2f2f2',GradientType=0 );
        }
        .CoreDialog .inner .head .title {
            color: #555;
            margin: 2px 0 0 10px;
            font-weight: 700;
            font-size: 15px;
            line-height: 15px;
            cursor: default;
            text-shadow: 0 1px #fff;
        }
        .CoreDialog .inner .head .close {
            height: 15px;
            width: 15px;
            position: absolute;
            right: 13px;
            top: 15px;
            background: rgba(0, 0, 0, .4) url('/public/images/CoreDialog/close.icon.png') -3px -3px no-repeat;
            border: 1px solid rgba(0, 0, 0, .15);
            opacity: .5;
            -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
                    border-radius: 4px;
        }
        .CoreDialog .inner .head .close:hover {
            opacity: 1;
            cursor: default;
        }

    /*
    * Body
    */
    .CoreDialog .inner .body {
        position: relative;
        min-width: 400px;
        min-height: 45px;
        background: #fcfcfc;
        color: #444;
        font-size: 12px;
        line-height: 16px;
        overflow-x: hidden;
    }

        .CoreDialog .inner .body .padded {
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            padding: 14px 10px;
            margin: 8px;
            font-weight: bold;
        }

        .CoreDialog .inner .body .padded.good {
            color: #121d35;
            border: 1px solid #d7e1f0;
            background: #eef1f6;

            -webkit-box-shadow: inset 0 -1px 0 0 #d7e1f0;
               -moz-box-shadow: inset 0 -1px 0 0 #d7e1f0;
                    box-shadow: inset 0 -1px 0 0 #d7e1f0;
        }

        .CoreDialog .inner .body .padded.error {
            color: #c20000;
            border: 1px solid #f0c0c0;
            background: #fae2e2;

            -webkit-box-shadow: inset 0 -1px 0 0 rgba(213, 103, 103, .3);
               -moz-box-shadow: inset 0 -1px 0 0 rgba(213, 103, 103, .3);
                    box-shadow: inset 0 -1px 0 0 rgba(213, 103, 103, .3);

        }

        .CoreDialog .inner .body .padded.info {
            color: #121d35;
            border: 1px solid #d7e1f0;
            background: #eef1f6;

            -webkit-box-shadow: inset 0 -1px 0 0 #d7e1f0;
               -moz-box-shadow: inset 0 -1px 0 0 #d7e1f0;
                    box-shadow: inset 0 -1px 0 0 #d7e1f0;
        }

        .CoreDialog .inner .body .padded.alert {
            color: #cf7b0a;
            border: 1px solid #edd7bf;
            background: #faf4ee;

            -webkit-box-shadow: inset 0 -2px 0 0 #edd7bf;
               -moz-box-shadow: inset 0 -2px 0 0 #edd7bf;
                    box-shadow: inset 0 -2px 0 0 #edd7bf;
        }

        /**
        * Prompt
        */
        .CoreDialog .inner .body .prompt {
            padding: 0 0 10px 0;
            margin: 5px;
            color: #333;
        }
            .CoreDialog .inner .body .prompt.no-message {
                margin-top: 35px;
            }

            .CoreDialog .inner .body .prompt div:first-child,
            .CoreDialog .inner .body .prompt div.padded
            {
                margin: 5px 0 20px 0;
            }

            .CoreDialog .inner .body .prompt table {
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .CoreDialog .inner .body .prompt table tr td {
                padding: 0;
                margin: 0;
            }
            .CoreDialog .inner .body .prompt table tr td.label {
                width: 110px;
                text-align: right;
                font-weight: bold;
                font-size: 14px;
            }

            .CoreDialog .inner .body .prompt input,
            .CoreDialog .inner .body .prompt textarea,
            .CoreDialog .inner .body .prompt select {
                margin: 0 4px 0 8px;
                font-size: 14px;
            }

            .CoreDialog .inner .body .prompt .field {
                margin: 5px 0 0 0;
            }

    /*
    * Foot
    */
    .CoreDialog .inner .foot {
        text-align: left;
        position: relative;
        color: #002439;
        padding: 4px 5px 7px 5px;
        overflow: hidden;
        border-top: 1px solid #ccc;
        border-radius: 0 0 4px 4px;
    }
        .CoreDialog .inner .foot .center {
            text-align: center;
        }

        .CoreDialog .inner .foot button {
            margin: 0 4px;
            min-width: 100px;
        }

        .CoreDialog .inner .foot button.okay {
            margin: 0 auto;
            width: 75px;
            min-width: 110px;
            font-weight: bold;
            color: #000;
        }
